
/* styles.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Story+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Roboto:ital,wght@0,100..900;1,100..900&family=Story+Script&display=swap');


@font-face {
    font-family: "accent-font";
    src: url("/src/fonts/accent-font.ttf") format("truetype");
    style: normal;
    weight: 400;
    stretch: 100; 
}

* {
    margin: 0;
    padding: 0;
}

body {
  background-color: rebeccapurple;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hdText {
    color: red;
    font-family: "Story Script", sans-serif;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 20vh;
    background-image: url("./img/x.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0rem;
    font-family: "Italiana", sans-serif;
    font-size: 50px;
    color: #46b5c0;
    font-weight: bolder;
    font-style: italic;
    text-shadow: 2px 5px var(#f0f0f0);

}

.nav-area {
    display: flex;
    flex-direction: row;
    width: 50vw;
    justify-content: space-evenly;
    align-items: center;
}

nav {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: space-around;
    width: 100%;
    font-family: "Italiano", sans-serif;
}

nav button {
    color: blue;
    background-color: powderblue;
    width: 150px;
    height: 25px;
    border-radius: 5px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hdText {
    font-size: 60px;
}

.blurb {
    padding-top: 15px;
}
